body {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.logo, .menu {
    display: inline-block;
}

.logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: bold 24px/31px 'PT Serif', serif;
}

.logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}

.logo__circle_color_dark-blue {
    background: #0056EC;
}

.menu {
    display:flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
}

.menu__item {
    color:#000;
    margin-right: 24px;
    position: relative;
}

.menu__item::after{
    position: absolute;
    left:0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity .5s, width .5s;
}

.menu__item:hover {
    opacity: .5;
}

.menu__item:hover::after, .menu__item_active::after {
    opacity: 1;
    width: 100%;
}

/* .menu__item:last-child {
    margin-right: 0;
} */

.menu__item_active::after{
    position: absolute;
    left:0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;  
}

.menu {
    font-family: 'Roboto', sans-serif;
}

.main__title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 66px;
    line-height: 87px;
    margin-bottom: 34px;
    padding-top: 75px;
}

.main__text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 60px;
    padding-right: 15%;
}

.main__button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 18px 28px;
    background: #0056EC;
    border-radius: 4px;
    color: #FFFFFF;
    border-color: #0056EC;
    transition: opacity .5s;
}

.main__button:hover{
    opacity: .5;
    cursor: pointer;
}

.main-section {
    height: 600px;
    margin-top: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    padding: 0 63% 120px 0;
    background: top right no-repeat url(./img/main.svg);
    min-height: 540px;
}

.main__title_colored {
    background: #ECF3FF;
}

.image-content {
    /* border: dashed 1px red; */
    width: 770px;
    height: 657px;
}






@media (min-width: 1170px) {

}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .header {
        margin-bottom: 28px;
    }
    .main
}