.logo-name {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.menu {
    font-family: 'Roboto', sans-serif;
}

.text {
    font-family: 'Roboto', sans-serif;
}

.button {
    font-family: 'Roboto', sans-serif;
}