.logo {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.menu {
    font-family: 'Roboto', sans-serif;
}

.main-content__title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.main-content__text {
    font-family: 'Roboto', sans-serif;
}

.main-content__button {
    font-family: 'Roboto', sans-serif;
}